# Exercise 4.6 Taskwork

### The script includes the following points:

#### Importing Libraries

#### Step 3

#### Step 4

#### Step 5

#### Step 6

#### Step 7

#### Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### Step 3

In [2]:
# Import the dataframe saved as a pkl file
path = r'C:\Users\jenci\Documents\Data Analytics\Python Fundamentals for Data Analysts\04-2024 Instacart Basket Analysis'
df_order_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

#### Step 4

In [3]:
# Check shape of imported df

df_order_products_combined.shape

(32640698, 9)

In [4]:
df_prods.shape

(49693, 5)

#### Step 5

In [5]:
# Merge products and combined dataframe

df_order_products_merged =  df_order_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [6]:
# Check output

df_order_products_merged

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,7.0,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,both
32434208,31526,202557,18,5,11,3.0,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,both
32434209,758936,203436,1,2,7,7.0,42338.0,4.0,0.0,"Zucchini Chips, Pesto",50,19,6.9,both
32434210,2745165,203436,2,3,5,15.0,42338.0,16.0,1.0,"Zucchini Chips, Pesto",50,19,6.9,both
32434211,3093936,205420,1,4,14,7.0,28818.0,8.0,0.0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [7]:
# Check shape
df_order_products_merged.shape

(32434212, 14)

#### Step 6

In [8]:
# Check merge flag

df_order_products_merged['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

In [9]:
# Check for full match

df_order_products_merged_check = df_order_products_combined.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

In [10]:
df_order_products_merged_check ['_merge'].value_counts()

_merge
both          32434212
left_only       208238
right_only          11
Name: count, dtype: int64

#### Step 7

In [11]:
# Export combined dataframe as a pickle file

df_order_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))