# Exercise 4.8 Taskwork: Grouping data & Aggregating variables

## Contents:

#### Step 5

#### Step 6

#### Step 7

#### Step 9

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Import dataframe

path = r'C:\Users\jenci\Documents\Data Analytics\Python Fundamentals for Data Analysts\04-2024 Instacart Basket Analysis'
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_3.pkl'))

In [3]:
# Check shape

df_ords_prods_merge.shape

(32434212, 20)

In [4]:
# Check output

df_ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,7.0,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Regularly busy,Most orders,31,Regular customer
32434208,31526,202557,18,5,11,3.0,43553.0,2.0,1.0,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Regularly busy,Most orders,31,Regular customer
32434209,758936,203436,1,2,7,7.0,42338.0,4.0,0.0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3,New customer
32434210,2745165,203436,2,3,5,15.0,42338.0,16.0,1.0,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,3,New customer
32434211,3093936,205420,1,4,14,7.0,28818.0,8.0,0.0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Least busy,Slowest days,Most orders,16,Regular customer

### Step 5

In [5]:
# Perform an aggregation of prices

df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'median', 'min', 'max']})

                     prices
                       mean median  min      max
loyalty_flag
Loyal customer    10.388747    7.4  1.0  99999.0
New customer      13.294370    7.4  1.0  99999.0
Regular customer  12.496203    7.4  1.0  99999.0

The average price of items purchased by loyal customers of Instacart are lower than that of newer customers. The average price of items purachased appears to decrease as a customer becomes more loyal to Instacart's services.

### Step 6

In [6]:
# Create column generating the average price of a user's order

df_ords_prods_merge['avg_order_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [7]:
# Check output

df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_price
0,2539329,1,1,2,8,7.0,196.0,1.0,0.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196.0,2.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196.0,4.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196.0,2.0,0.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196.0,6.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196.0,1.0,1.0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556

In [8]:
# Create a spending flag associated with a user's ID

df_ords_prods_merge.loc[df_ords_prods_merge['avg_order_price'] >= 10, 'spending_flag'] = 'High spender'

In [9]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_order_price'] < 10, 'spending_flag'] = 'Low spender'

In [10]:
# Check spending flag counts

df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

In [11]:
# Check output

df_ords_prods_merge[['user_id', 'spending_flag', 'avg_order_price']].head(100)

    user_id spending_flag  avg_order_price
0         1   Low spender         6.367797
1         1   Low spender         6.367797
2         1   Low spender         6.367797
3         1   Low spender         6.367797
4         1   Low spender         6.367797
..      ...           ...              ...
95      360  High spender        10.006250
96      377   Low spender         8.496552
97      387   Low spender         7.396610
98      420   Low spender         7.657813
99      420   Low spender         7.657813

[100 rows x 3 columns]

### Step 7

In [12]:
# Create column generating median frequency of days_since_prior_order

df_ords_prods_merge['median_order_freq'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [13]:
# Check output

df_ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_price,spending_flag,median_order_freq
0,2539329,1,1,2,8,7.0,196.0,1.0,0.0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,...,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,1320836,202557,17,2,15,1.0,43553.0,2.0,1.0,Orange Energy Shots,...,both,Low-range product,Regularly busy,Regularly busy,Most orders,31,Regular customer,6.905655,Low spender,7.0
32434208,31526,202557,18,5,11,3.0,43553.0,2.0,1.0,Orange Energy Shots,...,both,Low-range product,Regularly busy,Regularly busy,Most orders,31,Regular customer,6.905655,Low spender,7.0
32434209,758936,203436,1,2,7,7.0,42338.0,4.0,0.0,"Zucchini Chips, Pesto",...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3,New customer,7.631579,Low spender,15.0
32434210,2745165,203436,2,3,5,15.0,42338.0,16.0,1.0,"Zucchini Chips, Pesto",...,both,Mid-range product,Regularly busy,Slowest days,Fewest orders,3,New customer,7.631579,Low spender,15.0
32434211,3093936,205420,1,4,14,7.0,28818.0,8.0,0.0,Hot Oatmeal Multigrain Raisin,...,both,Mid-range product,Least busy,Slowest days,Most orders,16,Regular customer,7.684746,Low spender,12.0

In [14]:
# Create order frequency flag associated with a user's ID

df_ords_prods_merge.loc[df_ords_prods_merge['median_order_freq'] > 20, 'order_freq_flag'] = 'Non-frequent customer'

In [15]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_order_freq'] > 10) & (df_ords_prods_merge['median_order_freq'] <= 20) , 'order_freq_flag'] = 'Regular customer'

In [16]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_order_freq'] <= 10, 'order_freq_flag'] = 'Frequent customer'

In [17]:
# Check order frequency flag counts

df_ords_prods_merge['order_freq_flag'].value_counts(dropna = False)

order_freq_flag
Frequent customer        22808749
Regular customer          6935476
Non-frequent customer     2689987
Name: count, dtype: int64

In [18]:
# Check output

df_ords_prods_merge[['user_id', 'order_freq_flag', 'median_order_freq', 'days_since_prior_order']].head(60)

    user_id        order_freq_flag  median_order_freq  days_since_prior_order
0         1       Regular customer               20.0                     7.0
1         1       Regular customer               20.0                    15.0
2         1       Regular customer               20.0                    21.0
3         1       Regular customer               20.0                    29.0
4         1       Regular customer               20.0                    28.0
5         1       Regular customer               20.0                    19.0
6         1       Regular customer               20.0                    20.0
7         1       Regular customer               20.0                    14.0
8         1       Regular customer               20.0                     0.0
9         1       Regular customer               20.0                    30.0
10       15      Frequent customer                8.0                     7.0
11       15      Frequent customer                8.0                     8.0
12       15      Frequent customer                8.0                     7.0
13       15      Frequent customer                8.0                     7.0
14       15      Frequent customer                8.0                    14.0
15       19      Frequent customer                7.0                     6.0
16       19      Frequent customer                7.0                     8.0
17       19      Frequent customer                7.0                     6.0
18       21      Frequent customer                7.0                     6.0
19       31      Frequent customer                6.0                     7.0
20       31      Frequent customer                6.0                     8.0
21       43      Frequent customer               10.0                     4.0
22       43      Frequent customer               10.0                     3.0
23       52      Frequent customer                8.0                     7.0
24       52      Frequent customer                8.0                     7.0
25       52      Frequent customer                8.0                     7.0
26       52      Frequent customer                8.0                     8.0
27       52      Frequent customer                8.0                     8.0
28       52      Frequent customer                8.0                     7.0
29       52      Frequent customer                8.0                     8.0
30       52      Frequent customer                8.0                     7.0
31       52      Frequent customer                8.0                     6.0
32       52      Frequent customer                8.0                     8.0
33       52      Frequent customer                8.0                     6.0
34       52      Frequent customer                8.0                    14.0
35       52      Frequent customer                8.0                     8.0
36       52      Frequent customer                8.0                    30.0
37       67      Frequent customer                7.0                     7.0
38       67      Frequent customer                7.0                     5.0
39       67      Frequent customer                7.0                     7.0
40       67      Frequent customer                7.0                     8.0
41       67      Frequent customer                7.0                     8.0
42       67      Frequent customer                7.0                     7.0
43       67      Frequent customer                7.0                     7.0
44       67      Frequent customer                7.0                     7.0
45       67      Frequent customer                7.0                     6.0
46       67      Frequent customer                7.0                     7.0
47       67      Frequent customer                7.0                     8.0
48       67      Frequent customer                7.0                     6.0
49       67      Frequent customer                7.0                     7.0
50       67      Frequent customer                7.0                     9.0
51       67      Frequent customer                7.0                     4.0
52       67      Frequent customer                7.0                     9.0
53       67      Frequent customer                7.0                     5.0
54       67      Frequent customer                7.0                    14.0
55       67      Frequent customer                7.0                    14.0
56       81  Non-frequent customer               30.0                    14.0
57       81  Non-frequent customer               30.0                    30.0
58       82       Regular customer               11.0                     7.0
59       82       Regular customer               11.0                     5.0

### Step 9

In [19]:
# Export dataframe

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_4.pkl'))

In [20]:
# Check shape

df_ords_prods_merge.shape

(32434212, 24)