# Exercise 4.6 part 1

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [45]:
# Import dataframes


df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [8]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,7.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [9]:
# Check shape

df_ords_prior.shape

(32434489, 4)

In [10]:
df_ords.shape

(3421083, 8)

In [12]:
# Create dataframe that merges both dfs

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [16]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [25]:
# Check for a full match

df_merged_large_2 = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [26]:
df_merged_large_2['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [40]:
# Resetting the index and removing '_merge' column before exporting

df_merged_large_2.drop(df_merged_large_2.columns[df_merged_large_2.columns.str.contains('Unnamed')], axis=1, inplace=True)

In [42]:
df_merged_large_2.drop('_merge', axis = 1, inplace = True)

In [44]:
df_merged_large_2.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196.0,1.0,0.0
1,2539329,1,1,2,8,7.0,14084.0,2.0,0.0
2,2539329,1,1,2,8,7.0,12427.0,3.0,0.0
3,2539329,1,1,2,8,7.0,26088.0,4.0,0.0
4,2539329,1,1,2,8,7.0,26405.0,5.0,0.0

In [46]:
# Export as a csv and pkl

df_merged_large_2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [48]:
df_merged_large_2.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [49]:
df_merged_large_2.shape

(32640698, 9)